<div class="admin-page">
   <p-card header="Dashboard" subheader="Latest update">
     <div class="p-grid">
        <div class="p-col-3">
            <p-card styleClass="d-orders">
                <div class="d-item">
                    <div>
                        <i class="pi pi-shopping-cart"></i><br/>
                        <span class="Orders">Orders</span>
                    </div>
                        <span class="Number">{{Ordercounts}}</span>
                </div>
            </p-card>
        </div>
        <div class="p-col-3">
            <p-card styleClass="d-products">
                <div class="d-item">
                    <div>
                        <i class="pi pi-briefcase"></i><br/>
                        <span class="Products">Products</span>
                    </div>
                        <span class="Number">{{Productcounts}}</span>
                </div>
            </p-card>
        </div>
        <div class="p-col-3">
            <p-card styleClass="d-users">
                <div class="d-item">
                    <div>
                        <i class="pi pi-users"></i><br/>
                        <span class="Users">Users</span>
                    </div>
                        <span class="Number">{{Usercounts}}</span>
                </div>
            </p-card>
        </div>
        <div class="p-col-3">
            <p-card styleClass="d-totalsales">
                <div class="d-item">
                    <div>
                        <i class="pi pi-dollar"></i><br/>
                        <span class="Orders">Total Sales</span>
                    </div>
                        <span class="Number">{{TotalSalesAmount | currency}}</span>
                </div>
            </p-card>
        </div>
     </div>
   </p-card>
</div>

